<!--#include virtual="/header.ihtml" -->
<!--#include virtual="/nginx-solidarity.ihtml" -->
<!--
<div>
<a href="CUNC.wiki"> CUNC.wiki</a> - Оригинал для корректуры орфографии, пунктуации и т.п. Скачать, открыть vi или notepad, внести правки, выслать обратно по почте:<a href="mailto:info@eustrosoft.org">info@eustrosoft.org</a>. Спасибо за помощь!
<br>
<br>
P.S. Кодировка оригинала - UTF-8
<br>
<br>
</div>
-->
<a href="/wikify.shtml">.</a> <!-- добавлено для удобства тестирования wiki-фикации -->
<!--#include virtual="/CUNC.ihtml" -->
<!--#include virtual="/footer.ihtml" -->
